.bg-gradient {
  background: linear-gradient(to right, #000f26, #000f26) !important;
  color: white !important;
}

.icon-circle {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.progress {
  height: 8px;
}

.card-skill {
  border: 1px solid #dee2e6;
  border-radius: 10px;
  padding: 1rem;
}

.hero-section {
  background: url('fotos/bg.png') center center / cover no-repeat;
  color: white;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease-out forwards;
}

.delay-1 {
  animation-delay: 0.5s;
}

.delay-2 {
  animation-delay: 0.7s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 767.98px) {
  .row-cols-1 > .col:not(:last-child) {
    border-bottom: 1px solid #ddd;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
  }
}